.sessao {
  margin-top: 24px;
  padding: 16px;
  background: #fff8e7;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

h2 {
  color: #6b3e26;
  margin-bottom: 20px;
}

.novo-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.novo-item input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #6b3e26;
  border-radius: 8px;
  font-size: 16px;
  background-color: #3f2a1b;
  color: #fff8e7;
  font-weight: 500;
  transition: border-color 0.3s;
}

.novo-item input:focus {
  outline: none;
  border-color: #b44d28;
  background-color: #5a3925;
  color: #fff8e7;
}

.novo-item input::placeholder {
  color: #9c6b4e;
  font-weight: 500;
}

.novo-item select {
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #6b3e26;
  border-radius: 8px;
  font-size: 16px;
  background-color: #3f2a1b;
  color: #9c6b4e;
  font-weight: 500;
  transition: border-color 0.3s;
}

.novo-item select:focus {
  outline: none;
  border-color: #b44d28;
  background-color: #5a3925;
  font-weight: 500;
  color: #fff8e7;
}


.novo-item button {
  padding: 10px;
  background: #6b3e26;
  color: #fff8e7;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.novo-item button:hover {
  background: #8f381d;
}

.carrinho {
  list-style: none;
  padding: 0;
}

.carrinho li {
  background: #fce3c0;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: #4b2e2e;
  display: flex;
  justify-content: space-between;
}

.carrinho li button {
  background: #802020;
  color: #fff8e7;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
}

.carrinho li div {
  display: flex;
  justify-content: space-between;
}

.carrinho li button:hover {
  background: #a33333;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}


.dot {
  animation: blink 1.5s infinite;
  font-weight: bold;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}